h1,h2,h3 {
    font-family: 'Pacifico', cursive;
    color: #00adb5;
}

body {
    text-align: center;
    background-color: #222831;
}

footer {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
}

.container {
    width: 70%;
    height: 90%;
    margin: auto;
    text-align: center;
}

/* Title */
.title {
    font-size: 5rem;
    text-align: center;
}

/* Players */
.player {
    width: auto;
    display: inline-block;
    text-align: center;
    margin: 30px 50px;
}

.player-name {
    font-size: 2.5rem;
}

.player-dice {
    height: 50%;
    width: 70%;
}